<div class="post_form">
  <%= form_with model: post do |f| %>
    <%= render 'layouts/error_messages', resource: post %>

    <div data-controller="file-drop"
         data-action="dragover->file-drop#dragover drop->file-drop#drop" class="post_form_image">
      <%= f.label :image, raw("画像を選択する<br>またはドラッグ&ドロップ"), class: "file-input-label" %>

      <%= f.file_field :image, accept: "image/*", 'data-file-drop-target': 'fileUpload', style: "display:none;" %>
      <img id="image-preview" src="#" alt="プレビュー画像" style="display: none; max-width: 300px; max-height: 300px;"
           data-file-drop-target="imagePreview">
      <div id="file-name-preview" data-file-drop-target="fileNamePreview"></div>
    </div>

    <div class="form_field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, required: true, maxlength: 50 %>
    </div>
    <div class="form_field">
      <%= f.label :body, "別れの言葉" %>
      <%= f.text_area :body, rows: 5, required: true, maxlength: 400 %>
    </div>
    <div class="form_field">
      <%= f.label :spend_time, "一緒に過ごした期間" %>
      <%= f.select :spend_time, Post.spend_times.keys.map { |k| [I18n.t("enums.post.spend_time.#{k}"), k] } %>
    </div>
    <div class="form_field">
      <%= f.label :is_public, "公開／非公開設定" %>
      <%= f.select :is_public, options_for_select([["公開", true], ["非公開", false]], @post.is_public) %>
    </div>
    <div class="form_submit">
      <%= f.submit submit, class: "submit-btn" %>
      <!-- DBにpostが保存済みかチェック -->
      <% if @post.persisted? %>
        <%= link_to 'この投稿を削除する', post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'red-btn' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag "preview" %>