<div class="post_form">
  <%= form_with model: post do |f| %>
  	<%= render 'layouts/error_messages', resource: post %>
    <div class="form_field">
      <%= f.label :image, "画像" %>
      <div><%= f.file_field :image, accept: "image/*" %></div>
    </div>
    <div class="form_field">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="form_field">
      <%= f.label :body, "別れの言葉" %>
      <%= f.text_area :body, rows: 5 %>
    </div>
    <div class="form_field">
      <%= f.label :spend_time, "一緒に過ごした期間" %>
      <%= f.select :spend_time, Post.spend_times.keys.map { |k| [I18n.t("enums.post.spend_time.#{k}"), k] } %>
    </div>
    <div class="form_field">
      <%= f.label :is_public, "公開／非公開設定" %>
      <%= f.select :is_public, options_for_select([["公開", true], ["非公開", false]], @post.is_public) %>
    </div>
    <div class="form_submit">
      <%= f.submit submit, class: "submit-btn" %>
      <!--DBにpostが保存済みかチェック-->
      <% if @post.persisted? %>
        <%= link_to 'この投稿を削除する', post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'red-btn' %>
      <% end %>
    </div>
  <% end %>
</div>