<% if admin_signed_in? %>
  <div class="btn-container">
    <%= link_to '不適切な投稿のため削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'red-btn' %>
  </div>
<% end %>

<div class="post-detail">
  <div class="post-detail__image">
    <%= image_tag @post.get_image(700, 700) %>
  </div>

  <div class="post-detail__content">
    <h2 class="post-detail__title">
      <% if !@post.is_public? %>
        <i style="color:black" class="fas fa-lock"></i>
      <% end %>
      <%= @post.title %>
    </h2>
    一緒に過ごした期間：<%= @post.spend_time_i18n %>
    <% if @post.user == current_user %>
      <%= link_to edit_post_path(@post) do %>
        <div class="icon-container">
          <i class="fas fa-edit"></i>編集
        </div>
      <% end %>
    <% end %>

    <!--管理人がログインしていない＆投稿ユーザーが現在のユーザーではない＆すでに通報していない-->
    <% if !admin_signed_in? && current_user != @post.user && !@post.already_reported_by?(current_user) %>
      <%= link_to new_post_report_path(post_id: @post.id) do %>
        <div class="icon-container">
          <i class="far fa-flag fa-lg"></i>
          <p class="fukidashi">この投稿を通報する</p>
        </div>
      <% end %>
    <% end %>

    <% if @post.already_reported_by?(current_user) %>
      <span style="margin-left:10px; font-size: 12px;">通報済</span>
    <% end %>

    <div class="post-detail__description">
      <div class="description__title">
        <h4>別れの言葉</h4>
      </div>
      <%= @post.body %>
    </div>

    <% if !admin_signed_in? %>
      <!-- お花機能 -->
      <div id="flower-btn_<%= @post.id %>">
        <%= render "public/flowers/flower_btn", post: @post %>
      </div>
    <% else %>
      花むけ（<%= @post.flowers.count %>）
    <% end %>

    <!-- 投稿ユーザー情報 -->
    <div class="post-detail__user-info">
      <div class="user-info__avatar">
        <% if @post.user == current_user %>
          <%= link_to mypage_path do %>
            <%= image_tag @post.user.get_profile_image(100, 100) %>
          <% end %>
        <% else %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.get_profile_image(100, 100) %>
          <% end %>
        <% end %>
      </div>
      <div class="user-info__details">
        <p class="user-info__name">
          <% if @post.user == current_user %>
            <%= link_to @post.user.name, mypage_path %>
          <% else %>
            <%= link_to @post.user.name, user_path(@post.user) %>
          <% end %>
        </p>
        <p class="user-info__post-date">投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>
    </div>

    <div class="btn-container">
      <%= link_to 'お別れ会へ行く', goodbye_post_path(@post), class: 'bluebtn' %>
    </div>

    <!-- コメント関連 -->
    <div id="comments-counter" class="post-detail__comment">
      <%= render "public/comments/counter", post: @post %>
    </div>

    <div id="comments-index">
      <%= render "public/comments/index", post: @post %>
    </div>

    <% if user_signed_in? %>
      <div class="comment__form">
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
    <% elsif !admin_signed_in? %>
      <div class="btn-container">
        <%= link_to 'コメントの送信には、ログインが必要です', new_user_session_path, class: 'graybtn' %>
      </div>
    <% end %>
  </div>
</div>