<div class="post-detail">
  <div class="post-detail__image">
    <%= image_tag @post.get_image(700, 700) %>
  </div>

  <div class="post-detail__content">
    <h2 class="post-detail__title">
      <% if !@post.is_public? %>
        <i class="fas fa-lock"></i>
      <% end %>
      <%= @post.title %>
    </h2>
    <p>一緒に過ごした期間：<%= @post.spend_time_i18n %></p>
    <div class="post-detail__description">
      <div class="description__title">
        <h4>別れの言葉</h3>
      </div>
      <%= @post.body %>
    </div>

    <!-- お花機能 -->
    <div id="flower-btn_<%= @post.id %>">
      <%= render "public/flowers/flower_btn", post: @post %>
    </div>

    <!-- 投稿ユーザー情報 -->
    <div class="post-detail__user-info">
      <div class="user-info__avatar">
        <%= image_tag @post.user.get_profile_image(150, 150) %>
      </div>
      <div class="user-info__details">
        <p class="user-info__name"><%= @post.user.name %></p>
        <p class="user-info__post-date">投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>
    </div>

    <!-- 編集ボタン -->
    <div class="edit-button-container">
      <% if @post.user == current_user %>
        <%= link_to '投稿を編集（削除）', edit_post_path(@post), class: 'edit-button' %>
      <% end %>
    </div>
    
    <!-- コメント関連 -->
    <div id="comments-counter" class="post-detail__comment">
      <%= render "public/comments/counter", post: @post %>
    </div>
    
    <div id="comments-index">
      <%= render "public/comments/index", post: @post %>
    </div>
    
    <div class="comment__form">
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>