<% if admin_signed_in? %>
<div class="admin-btn">
  <%= link_to '不適切な投稿のため削除', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'red-btn' %>
</div>
<% end %>

<div class="post-detail">
  <div class="post-detail__image">
    <%= image_tag @post.get_image(700, 700) %>
  </div>

  <div class="post-detail__content">
    <h2 class="post-detail__title">
      <% if !@post.is_public? %>
        <i class="fas fa-lock"></i>
      <% end %>
      <%= @post.title %>
    </h2>
    <p>一緒に過ごした期間：<%= @post.spend_time_i18n %></p>
    <div class="post-detail__description">
      <div class="description__title">
        <h4>別れの言葉</h4>
      </div>
      <%= @post.body %>
    </div>

    <!-- お花機能 サインインしている時のみ表示-->
    <% if user_signed_in? %>
      <div id="flower-btn_<%= @post.id %>">
        <%= render "public/flowers/flower_btn", post: @post %>
      </div>
    <% end %>
    <!-- 投稿ユーザー情報 -->
    <div class="post-detail__user-info">
      <div class="user-info__avatar">
        <%= image_tag @post.user.get_profile_image(150, 150) %>
      </div>
      <div class="user-info__details">
        <p class="user-info__name"><%= @post.user.name %></p>
        <p class="user-info__post-date">投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      </div>
    </div>

    <!-- 編集ボタン -->
    <div class="edit-button-container">
      <% if @post.user == current_user %>
        <%= link_to '投稿を編集（削除）', edit_post_path(@post), class: 'edit-btn' %>
      <% end %>
    </div>
    
    <!-- コメント関連 -->
    <div id="comments-counter" class="post-detail__comment">
      <%= render "public/comments/counter", post: @post %>
    </div>
    
    <div id="comments-index">
      <%= render "public/comments/index", post: @post %>
    </div>
<% if user_signed_in? %>
  <div class="comment__form">
    <%= render "public/comments/form", post: @post, comment: @comment %>
  </div>
<% elsif !admin_signed_in? %>
  <div class="login-btn">
    <%= link_to 'コメントの送信には、ログインが必要です', new_user_session_path, class: 'edit-btn' %>
  </div>
<% end %>
  </div>
</div>