<h2 class="form_title">管理者ログイン</h2>
<div class="post_form">
  <%= form_with model: @admin, url: session_path(resource_name) do |f| %>
    <div class="form_field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true  %>
    </div>
    <div class="form_field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password", required: true  %>
    </div>
    <div class="form_submit">
      <%= f.submit "ログイン", class: "submit-btn" %>
    </div>
  <% end %>
</div>
