<% post.comments.active_comments.each do |comment| %>
  <div class="comment__list">
    <p class="comment__user-avatar">
      <%= image_tag comment.user.get_profile_image(70, 70) %>
    </p>
    <div class="comment__details">
      <div class="comment__user-name">
        <%= comment.user.name %>
      </div>
      <div class="comment__text-box">
        <p><%= comment.comment %></p>
        <span class="comment__date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        
        <!-- 削除リンク -->
        <% if comment.user == current_user %>
          <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true do %>
            <div class="icon-container">
              <i class="far fa-trash-alt fa-lg"></i>
              <p class="fukidashi">このコメントを削除</p>
            </div>
          <% end %>
        <% end %>

        <!-- 不適切なコメントの削除リンク（管理者のみ） -->
        <% if admin_signed_in? %>
          <%= link_to '不適切なコメントのため削除', post_comment_path(comment.post, comment), method: :delete,
              data: { confirm: '本当に削除してよろしいですか？' }, remote: true %>
        <% end %>

        <!-- 通報リンク -->
        <!--管理人がログインしていない＆投稿ユーザーが現在のユーザーではない＆すでに通報していない-->
        <% if !admin_signed_in? && current_user != comment.user && !comment.already_reported_by?(current_user) %>
          <%= link_to new_post_comment_report_path(post_id: post.id, comment_id: comment.id) do %>
            <div class="icon-container">
              <i class="far fa-flag fa-lg"></i>
              <p class="fukidashi">コメントを通報する</p>
            </div>
          <% end %>
        <% end %>

        <% if comment.already_reported_by?(current_user) %>
          <span style="margin-left: 10px; font-size: 12px;">通報済</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>