<h2 class="form_title">パスワード編集</h2>
<div class="post_form">
  <%= form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user' do |f| %>
    <%= render "layouts/error_messages", resource: resource %>
    <div class="form_field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form_field">
      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <div class="form_field">
      <%= f.label :password, "新しいパスワード(#{@minimum_password_length}文字以上)" %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="form_field">
      <%= f.label :password_confirmation, "新しいパスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class="form_submit">
      <%= f.submit "パスワード更新", class: "submit-btn" %>
    </div>
  <% end %>
</div>