<% if post.flowered_by?(current_user) %>
  <div class="flower-content">
    <%= link_to post_flowers_path(post), method: :delete, remote: true do %>
      <%= image_tag 'colorful_flower.png', alt: '色のついた花の絵', class: 'flower-icon' %>
      <p class="flower-text">花むけ（<%= post.flowers.count %>）</p>
    <% end %>
  </div>
<% else %>
  <div class="flower-content">
    <%= link_to post_flowers_path(post), method: :post, remote: true do %>
      <%= image_tag 'monochrome_flower.png', alt: 'モノクロの花の絵', class: 'flower-icon' %>
      <p class="flower-text">花むけ（<%= post.flowers.count %>）</p>
    <% end %>
  </div>
<% end %>