<div class="post_form">
  <h2 class="form_title">通報フォーム</h2>
  <div class="form_field">
    <p>
      ご報告いただいた内容は、詳細を調査の上、適切に対応いたします。
      該当の投稿／コメントの削除をお約束するものではありませんので、あらかじめご了承ください。
    </p>
  </div>
  <%= render 'layouts/error_messages', resource: @report %>
  <% if @comment.present? %>
    <div class="form_field">
      <h3>通報するコメント: <%= @comment.comment %></h3>
    </div>
    <%= render 'form', report: @report, url: post_comment_reports_path(comment_id: @comment.id) %>
  <% else %>
    <div class="form_field">
      <h3>通報する投稿: <%= @post.title %></h3>
    </div>
    <%= render 'form', report: @report, url: post_reports_path(post_id: @post.id) %>
  <% end %>
  <% if current_user.guest? %>
    <p>
      ゲストユーザー様の通報は、<br>
      見られません。<br>
      管理者は通報を確認できません。ご了承ください。
    </p>
  <% end %>
</div>