  	<%= render 'layouts/error_messages', resource: @report %>
<% if @comment.present? %>
  <h3>通報するコメント: <%= @comment.comment %></h3>
  <%= form_with(model: @report, url: post_comment_reports_path(comment_id: @comment.id)) do |f| %>
    <%= f.label :通報理由 %>
    <%= f.text_area :reason %>
    <%= f.submit '通報する' %>
  <% end %>
<% else %>
  <h3>通報する投稿: <%= @post.title %></h3>
  <%= form_with(model: @report, url: post_reports_path(post_id: @post.id)) do |f| %>
    <%= f.label :通報理由 %>
    <%= f.text_area :reason %>
    <%= f.submit '通報する' %>
  <% end %>
<% end %>