<div class="mypage-container">
  <h2 class="mypage-title">マイページ</h2>
  <h3 class="user-name"><%= @user.name %> さん</h3>
  <div class="user-image">
    <%= image_tag @user.get_profile_image(400, 400) %>
  </div>
  <h3>
    <%= link_to "プロフィールを編集", edit_mypage_path, class: "edit-profile-button" %>
  </h3>
</div>

<h3><%= @user.name %> さんの投稿一覧</h3>
<%= render 'layouts/index',posts: @posts %>