<div class="mypage-container">
  <h2 class="user-name"><%= @user.name %> さん</h2>
  <div class="user-image">
    <%= image_tag @user.get_profile_image(300, 300) %>
  </div>
  <div>
    <%= link_to "プロフィールを編集", edit_mypage_path, class: "user-edit-btn" %>
  </div>
</div>
<%= link_to "花むけした投稿を見る", mypage_flowering_path %>
<h3><%= @user.name %> さんの投稿一覧</h3>
<%= form_with(model: @post, url: mypage_path, method: "get") do |f| %>
  <% if params[:show_private] == '1' %>
    <%= f.check_box :show_private, checked: true %>
  <% else %>
    <%= f.check_box :show_private %>
  <% end %>
  <%= f.label :show_private do %>
    <i class="fas fa-lock"></i> 非公開
  <% end %>
  <%= f.submit '表示' %>
<% end %>
<%= render 'public/posts/index',posts: @posts %>