<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>私と物のものがたり</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/12827ddbda.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">
      <div class="header-content">
        <%= link_to (admin_signed_in? ? admin_reports_path : root_path ), class: "logo" do %>
          <%= image_tag 'logo.png', alt: '私と物のものがたり' %>
        <% end %>
        <% if admin_signed_in? %>
          <div style="text-align: center; color: darkorange;">
            <h2>管理者ログイン中</h2>
          </div>
        <% end %>
        <h2><%= link_to '管理者ログイン←後で消す', new_admin_session_path %></h2>
        <nav>
          <ul>
            <% if admin_signed_in? %>
              <li><%= link_to '通報一覧',  admin_reports_path %></li>
              <li><%= link_to '会員一覧',  admin_users_path %></li>
              <li><%= link_to '遺言登録',  admin_messages_path %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            <% elsif user_signed_in? %>
              <li class="<%= 'active' if current_page?(posts_path) %>">
                <%= link_to 'みんなの投稿', posts_path %>
              </li>
              <li class="<%= 'active' if current_page?(new_post_path) %>">
                <%= link_to '投稿する', new_post_path %>
              </li>
              <li class="<%= 'active' if current_page?(mypage_path) %>">
                <%= link_to 'マイページ', mypage_path %>
              </li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
                <%= link_to '新規登録', new_user_registration_path %>
              </li>
              <li class="<%= 'active' if current_page?(new_user_session_path) %>">
                <%= link_to 'ログイン', new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>

      <%= yield %>
    </main>
    <footer>&copy; 2023 marin<i class="far fa-star"></i>kato</footer>
  </body>
</html>